# Fashion Product Classifier

In [1]:
cd E:\1. Tech\Machine Learning Projects\Fashion Product Cassifier

E:\1. Tech\Machine Learning Projects\Fashion Product Cassifier

### Preparing The Data

In [2]:
import pandas as pd

In [9]:
df= pd.read_csv("styles.csv", error_bad_lines=False)

C:\Users\DELL\AppData\Local\Temp\ipykernel_9584\884509846.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df= pd.read_csv("styles.csv", error_bad_lines=False)
b'Skipping line 6044: expected 10 fields, saw 11\nSkipping line 6569: expected 10 fields, saw 11\nSkipping line 7399: expected 10 fields, saw 11\nSkipping line 7939: expected 10 fields, saw 11\nSkipping line 9026: expected 10 fields, saw 11\nSkipping line 10264: expected 10 fields, saw 11\nSkipping line 10427: expected 10 fields, saw 11\nSkipping line 10905: expected 10 fields, saw 11\nSkipping line 11373: expected 10 fields, saw 11\nSkipping line 11945: expected 10 fields, saw 11\nSkipping line 14112: expected 10 fields, saw 11\nSkipping line 14532: expected 10 fields, saw 11\nSkipping line 15076: expected 10 fields, saw 12\nSkipping line 29906: expected 10 fields, saw 11\nSkipping line 31625: expected 10 fields, saw 11\nSkipping line 33020: expected 10 fields, saw 11\nSkipping line 35748: expected 10 fields, saw 11\nSkipping line 35962: expected 10 fields, saw 11\nSkipping line 37770: expected 10 fields, saw 11\nSkipping line 38105: expected 10 fields, saw 11\nSkipping line 38275: expected 10 fields, saw 11\nSkipping line 38404: expected 10 fields, saw 12\n'

In [10]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012.0,Casual,Puma Men Pack of 3 Socks
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Skagen Men Black Watch

In [11]:
# adding Extension to the Image

df['image'] = df.apply(lambda row: str(row['id'])+ ".jpg", axis = 1)

In [12]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,39386.jpg
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,59263.jpg
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,21379.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,53759.jpg
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt,1855.jpg
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt,30805.jpg
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt,26960.jpg
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012.0,Casual,Puma Men Pack of 3 Socks,29114.jpg
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Skagen Men Black Watch,30039.jpg

In [20]:
#Randomize the data
df = df.sample(frac = 1).reset_index(drop = True)

In [21]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,10433,Men,Apparel,Topwear,Shirts,Black,Fall,2011.0,Casual,Flying Machine Men Ydc Black Shirts,10433.jpg
1,35207,Unisex,Accessories,Bags,Backpacks,Grey,Spring,2013.0,Casual,Wildcraft Unisex Outdoors Within Grey Backpack,35207.jpg
2,2623,Women,Footwear,Shoes,Flats,Black,Fall,2010.0,Casual,Carlton London Women Black Sandal,2623.jpg
3,58139,Women,Accessories,Jewellery,Ring,Silver,Fall,2012.0,Casual,Rreverie Silver Ring,58139.jpg
4,51586,Women,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Wrangler Women Blue Giselle Jeans,51586.jpg
5,48447,Men,Apparel,Topwear,Tshirts,White,Summer,2012.0,Casual,French Connection Men White T-shirt,48447.jpg
6,50484,Men,Apparel,Innerwear,Briefs,Red,Summer,2016.0,Casual,Chromozome Men Dark Red Briefs,50484.jpg
7,31279,Men,Apparel,Topwear,Tshirts,Navy Blue,Summer,2012.0,Casual,Puma Men Bonn Graphic Navy Blue T-shirt,31279.jpg
8,14876,Women,Apparel,Bottomwear,Stockings,Grey,Summer,2011.0,Casual,United Colors of Benetton Women Solid Grey Sto...,14876.jpg
9,46482,Men,Accessories,Watches,Watches,White,Winter,2016.0,Casual,Timex Men White Dial Watch,46482.jpg

### Preparing the ImageDataGenerator for Training the Model

In [ ]:
# Since there are no Labels/Classes in the Dataset, Thus a ImageDataGenerator is created such that,
# the data is directly fitted to out model.

In [22]:
from keras_preprocessing.image import ImageDataGenerator