# Fashion Product Classifier

In [1]:
cd E:\1. Tech\Machine Learning Projects\Fashion Product Cassifier

E:\1. Tech\Machine Learning Projects\Fashion Product Cassifier

### Preparing The Data

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv("styles.csv", error_bad_lines=False)

C:\Users\DELL\AppData\Local\Temp\ipykernel_4120\884509846.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df= pd.read_csv("styles.csv", error_bad_lines=False)
b'Skipping line 6044: expected 10 fields, saw 11\nSkipping line 6569: expected 10 fields, saw 11\nSkipping line 7399: expected 10 fields, saw 11\nSkipping line 7939: expected 10 fields, saw 11\nSkipping line 9026: expected 10 fields, saw 11\nSkipping line 10264: expected 10 fields, saw 11\nSkipping line 10427: expected 10 fields, saw 11\nSkipping line 10905: expected 10 fields, saw 11\nSkipping line 11373: expected 10 fields, saw 11\nSkipping line 11945: expected 10 fields, saw 11\nSkipping line 14112: expected 10 fields, saw 11\nSkipping line 14532: expected 10 fields, saw 11\nSkipping line 15076: expected 10 fields, saw 12\nSkipping line 29906: expected 10 fields, saw 11\nSkipping line 31625: expected 10 fields, saw 11\nSkipping line 33020: expected 10 fields, saw 11\nSkipping line 35748: expected 10 fields, saw 11\nSkipping line 35962: expected 10 fields, saw 11\nSkipping line 37770: expected 10 fields, saw 11\nSkipping line 38105: expected 10 fields, saw 11\nSkipping line 38275: expected 10 fields, saw 11\nSkipping line 38404: expected 10 fields, saw 12\n'

In [4]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012.0,Casual,Puma Men Pack of 3 Socks
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Skagen Men Black Watch

In [5]:
# adding Extension to the Image

df['image'] = df.apply(lambda row: str(row['id'])+ ".jpg", axis = 1)

In [6]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,39386.jpg
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,59263.jpg
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,21379.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,53759.jpg
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt,1855.jpg
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt,30805.jpg
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt,26960.jpg
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012.0,Casual,Puma Men Pack of 3 Socks,29114.jpg
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Skagen Men Black Watch,30039.jpg

In [7]:
#Randomize the data
df = df.sample(frac = 1).reset_index(drop = True)

In [8]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,54229,Women,Accessories,Bags,Handbags,Khaki,Summer,2012.0,Casual,Puma Women Khaki Handbag,54229.jpg
1,12494,Women,Apparel,Topwear,Tops,Grey,Fall,2011.0,Casual,United Colors of Benetton Women Short Grey Tops,12494.jpg
2,6433,Men,Footwear,Shoes,Casual Shoes,Blue,Summer,2011.0,Casual,Lotto Men's Canvas Blue Shoe,6433.jpg
3,21782,Men,Accessories,Belts,Belts,Brown,Fall,2011.0,Casual,Fossil Men Edsel Brown Belt,21782.jpg
4,10411,Women,Apparel,Topwear,Tshirts,Purple,Fall,2011.0,Casual,United Colors of Benetton Women Printed Purple...,10411.jpg
5,9665,Men,Apparel,Topwear,Shirts,Purple,Fall,2011.0,Casual,Indigo Nation Men Bling PC Purple Shirts,9665.jpg
6,46850,Girls,Footwear,Flip Flops,Flip Flops,Blue,Fall,2012.0,Casual,Barbie Girls Blue Flip Flops,46850.jpg
7,53130,Women,Footwear,Shoes,Flats,Brown,Winter,2015.0,Casual,Catwalk Women Brown Sandals,53130.jpg
8,29495,Women,Accessories,Watches,Watches,Blue,Winter,2016.0,Casual,Giordano Women Chronograph Blue Dial Watch,29495.jpg
9,13783,Men,Apparel,Bottomwear,Trousers,Khaki,Fall,2011.0,Formal,Belmonte Men Solid Khaki Trousers,13783.jpg

### Preparing the ImageDataGenerator for Training the Model

In [9]:
# Since there are no Labels/Classes in the Dataset, Thus a ImageDataGenerator is created such that,
# the data is directly fitted to out model.

In [9]:
from keras_preprocessing.image import ImageDataGenerator
batch_size = 256

img_gen = ImageDataGenerator(validation_split=0.2)


training_gen = img_gen.flow_from_dataframe(
    dataframe=df,
    directory='images',
    x_col = 'image',
    y_col = 'masterCategory',
    target_size = (60,80),
    batch_size = batch_size,
    subset = 'training'
)

validation_gen = img_gen.flow_from_dataframe(
    dataframe=df,
    directory='images',
    x_col = 'image',
    y_col = 'masterCategory',
    target_size = (60,80),
    batch_size = batch_size,
    subset = 'validation'
)

classes = len(training_gen.class_indices)

C:\Users\DELL\anaconda3\lib\site-packages\keras_preprocessing\image\dataframe_iterator.py:279: UserWarning: Found 5 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  warnings.warn(

Found 35536 validated image filenames belonging to 7 classes.
Found 8883 validated image filenames belonging to 7 classes.

C:\Users\DELL\anaconda3\lib\site-packages\keras_preprocessing\image\dataframe_iterator.py:279: UserWarning: Found 5 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  warnings.warn(

In [10]:
classes  ## number of classes

7

### Initializing the Neural Network

In [11]:
from keras.models import Sequential
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.layers import Dense

In [12]:
## Model:

classifier = Sequential()

classifier.add(Conv2D(32,(3,3), input_shape = (60,80,3), activation = 'relu'))
classifier.add(MaxPooling2D(pool_size=(3,3)))

classifier.add(Conv2D(32,(3,3), activation = 'relu'))
classifier.add(MaxPooling2D(pool_size=(3,3)))

classifier.add(Flatten())

classifier.add(Dense(units=32, activation = 'relu'))
classifier.add(Dense(units=64, activation = 'relu'))
classifier.add(Dense(units=128, activation = 'relu'))
classifier.add(Dense(units=256, activation = 'relu'))
classifier.add(Dense(units=512, activation = 'relu'))

classifier.add(Dense(units = 7, activation = 'softmax'))

In [13]:
classifier.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

### Fitting Data into The Neural Network

In [14]:
from math import ceil

In [15]:
classifier.fit(training_gen, steps_per_epoch=ceil(0.8*(df.shape[0]/batch_size)), 
                        validation_data=validation_gen, validation_steps=ceil(0.2*(df.shape[0]/batch_size)),                  
                        epochs=5, verbose=1)

Epoch 1/5
139/139 [==============================] - 1578s 11s/step - loss: 0.8642 - accuracy: 0.7644 - val_loss: 0.3128 - val_accuracy: 0.8932
Epoch 2/5
139/139 [==============================] - 115s 827ms/step - loss: 0.2384 - accuracy: 0.9203 - val_loss: 0.2193 - val_accuracy: 0.9305
Epoch 3/5
139/139 [==============================] - 82s 593ms/step - loss: 0.1856 - accuracy: 0.9408 - val_loss: 0.1938 - val_accuracy: 0.9406
Epoch 4/5
139/139 [==============================] - 84s 604ms/step - loss: 0.1501 - accuracy: 0.9530 - val_loss: 0.1558 - val_accuracy: 0.9518
Epoch 5/5
139/139 [==============================] - 83s 596ms/step - loss: 0.1321 - accuracy: 0.9587 - val_loss: 0.1383 - val_accuracy: 0.9591

In [16]:
loss, acc = classifier.evaluate(validation_gen, steps = ceil(0.2*(df.size/batch_size)))
print("\n%s: %.2f%%" % (classifier.metrics_names[1], acc*100))

 35/382 [=>............................] - ETA: 1:30 - loss: 0.1383 - accuracy: 0.9591WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 382 batches). You may need to use the repeat() function when building your dataset.
382/382 [==============================] - 10s 26ms/step - loss: 0.1383 - accuracy: 0.9591

accuracy: 95.91%

### Saving the Model for future use

In [17]:
classifier.save("model.h5")

### Model Testing on our Data

In [37]:
import numpy as np
from tensorflow.keras.preprocessing import image

from keras.models import load_model
new_model = load_model('model.h5')
new_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 58, 78, 32)        896

 max_pooling2d (MaxPooling2D  (None, 19, 26, 32)       0
 )

 conv2d_1 (Conv2D)           (None, 17, 24, 32)        9248

 max_pooling2d_1 (MaxPooling  (None, 5, 8, 32)         0
 2D)

 flatten (Flatten)           (None, 1280)              0

 dense (Dense)               (None, 32)                40992

 dense_1 (Dense)             (None, 64)                2112

 dense_2 (Dense)             (None, 128)               8320

 dense_3 (Dense)             (None, 256)               33024

 dense_4 (Dense)             (None, 512)               131584

 dense_5 (Dense)             (None, 7)                 3591

=================================================================
Total params: 229,767
Trainable params: 229,767
Non-trainable params: 0
_________________________________________________________________

In [39]:
filename = "15970.jpg"

test_image = image.load_img("images/" + filename, target_size=(60,80))
test_image = image.img_to_array(test_image)
test_image = np.expand_dims(test_image, axis = 0)

result = new_model.predict(test_image)
print(result)

1/1 [==============================] - 0s 21ms/step
[[2.3377175e-03 9.9658328e-01 5.6752824e-04 5.0814834e-04 2.2632803e-12
  3.0741712e-06 3.9217295e-07]]

In [40]:
#Checking which class has the most probablity
val = np.argmax(result)
print(val)

1

In [42]:
#Changing the class IDs to class names:

my_dict = training_gen.class_indices
key_list = list(my_dict.keys())
val_list = list(my_dict.values())
print(key_list[val])

Apparel

### Saving the Class IDs

In [43]:
import pickle 

filename1 = 'key_list'
filename2 = 'val_list'
pickle.dump(key_list, open(filename1, 'wb'))
pickle.dump(val_list, open(filename2, 'wb'))